<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <label class="title-5 m-b-35">Students</label>
                <div class="table-data__tool" style="float:right" ng-init="getAPIData('all-my-class', 'Class')">
                    <div class="table-data__tool-right">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="form-control" ng-change="onChangeAPI('get-my-student', 'get-my-student?' + 'class_id=' + changeData, 'Student', changeData)" ng-model="changeData">
                                    <option value="">All</option>
                                    <option ng-repeat="value in Class" value="{{ value.id }}">{{ value.name }} - {{ value.section }}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small" style="float:left" data-toggle="modal" data-target="#mediumModal">
                                    <i class="zmdi zmdi-plus"></i>Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive m-b-40" ng-init="getAPIData('get-my-student', 'Student')">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Father Name</th>
                                <th>Parent's Contact</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="key in Student">
                            <tr>
                                <td>{{ key.name }}</td>
                                <td>{{ key.parent.father_name }}</td>
                                <td>{{ key.parent.phone }}</td>
                                <td ng-if="key.status==='active'" class="process">Active</td>
                                <td ng-if="key.status==='pending'" class="denied">Pending</td>
                                <td>
                                    <a href="#!student_profile/{{ key.id }}">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
</div>

<!-- modal medium -->
<div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" ng-init="getAPIData('all-classes', 'AllClass')">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediumModalLabel">Register New Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form ng-submit="callApiGetData(data,'create-student','all-student', 'Student')" id="myForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Full Name</label>
                                        <div class="input-group">
                                            <input ng-model="data.name" class="form-control" placeholder="Enter Full Name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Father Name</label>
                                    <div class="input-group">
                                        <input ng-model="data.father_name" class="form-control" placeholder="Enter Father Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Mother Name</label>
                                    <div class="input-group">
                                        <input ng-model="data.mother_name" class="form-control" placeholder="Enter Mother Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="x_card_code" class="control-label mb-1">Parent Number</label>
                                <div class="input-group">
                                    <input ng-model="data.phone" class="form-control" placeholder="Enter father Number">
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="x_card_code" class="control-label mb-1">Parent's Email</label>
                                <div class="input-group">
                                    <input ng-model="data.email" class="form-control" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Class</label>
                                    <select class="form-control" ng-model="data.class_id">
                                        <option value="">Select Class</option>
                                        <option ng-repeat="key in AllClass" value="{{ key.id }}">{{ key.name }} - {{ key.section }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp" class="control-label mb-1">Date of Birth</label>
                                    <div class="input-group">
                                        <input type="date" ng-model="data.dob" class="form-control" placeholder="Enter Mother Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label mb-1">Address</label>
                            <input id="address" name="address" ng-model="data.address" class="form-control address" value="" data-val="true" placeholder="Enter Full Address">
                            <span class="help-block" data-valmsg-for="address" data-valmsg-replace="true"></span>
                        </div>
                        <br>
                        <div>
                            <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                <span id="payment-button-amount">Register</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>