<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row" ng-init="getAPIData('all-classes', 'Class')">
            <label>Your Routine</label>
            <div class="col-md-12" style="margin-top:10px">
                <div class="table-responsive m-b-40" ng-init="getAPIData('all-teacher', 'Teacher')">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th style="text-align: center">Duration</th>
                                <th style="text-align: center">Monday</th>
                                <th style="text-align: center">Tuesday</th>
                                <th style="text-align: center">Wednesday</th>
                                <th style="text-align: center">Thrusday</th>
                                <th style="text-align: center">Friday</th>
                                <th style="text-align: center">Saturday</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="key in [0,1,2,3]">
                            <tr>
                                <td style="background-color: rgb(32, 31, 31); color: white;">
                                    <label style="text-align: center">12:24 PM
                                        <br> -
                                        <br>02:30 PM</label>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                                <td>
                                    <b>English</b>
                                    <br>
                                    <i>Class 10 Section-A</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
</div>